<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td colspan="2" width="80%"><h3>BasicBlog example app for Oracle</h3></td>
    <td align="right">
      
      <div class="input-group controls">
        <input id="search" type="text" class="form-control glyphicon glyphicon-search" placeholder="Search for...">
    
      </div>
    </td>
  </tr>
  
</table>

<div id="posts"></div>

<script type="text/javascript">
  $(function() {
  // Blog is the app name
  window.router = new Blog.Routers.PostsRouter({posts: <%= @posts.to_json.html_safe -%>});
  Backbone.history.start();
  });
  
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();

    $("#tablebody tr").each(function(index) {
        

            $row = $(this);

            var title = $row.find("td:first").text().toLowerCase();
            var content = $row.find('td:nth-child(2)').text().toLowerCase();
            
            if (title.indexOf(value) === -1 && content.indexOf(value) === -1) {
              
                $row.hide();
            }
            else {
                $row.show();
            }
        
    });
  });
  
</script>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tablebody">
    <% @posts.each do |post| %>
      <tr>
        <td width="20%"><%= post.title %></td>
        <td width="50%"><%= post.content %></td>
        <td width="10%"><%= link_to 'Show', post, :class =>'btn' 'btn-primary' %></td>
        <td width="10%"><%= link_to 'Edit', edit_post_path(post), :class =>'btn' 'btn-primary'  %></td>
        <td width="10%"><%= link_to 'Destroy', post, method: :delete, databtn: { confirm: 'Are you sure?' }, :class =>'btn' 'btn-primary' 'data-toggle="confirmation"' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path , :class =>'btn btn-default' %>
