<p id="notice"><%= notice %></p>
<form class="form-control">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post), :class =>'btn btn-default' %> |
<%= link_to 'Back', posts_path, :class =>'btn btn-default' %>
</form>